:root {
    --first-main-color: #004583;
    --first-light-color: #326cb5;
    --second-main-color: #bb2822;

    --font-light-color: #ffffff;
    --font-dark-color: #434343;
    --font-shadow-color: #9a9a9a;
}