@import "_variables.css";

body {
    /* Поменять шрифт */
    min-width: 320px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.image {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.section {
    padding-top: 20px;
    padding-bottom: 20px;
}

.container-title {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 14px;
    color: var(--font-dark-color);
    border-bottom: 1px solid var(--font-shadow-color);
}

/* Классы */

.header-main {
    padding-top: 12px;
    padding-bottom: 12px;
}

.header-main .container-logo {
    height: 50px;
}

.header-main .container-logo .link-logo {
    display: block;
    height: 100%;
}

.header-navigation {
    background-color: var(--first-light-color);
}

.header-navigation .navbar-toggler {
    border: none;
    color: var(--font-light-color);
    padding-left: 0;
    padding-right: 0;
}

.header-navigation .navbar-toggler:focus {
    box-shadow: none;
}

.header-navigation .navbar-nav .nav-item {
    padding: 0 50px;
}

.header-navigation .navbar-nav .nav-link {
    color: var(--font-light-color);
    padding: 0;
}

.banner .carousel-item .image {
    height: 500px;
    object-fit: cover;
}