@import "_variables.css";

body {
    /* Поменять шрифт */
    min-width: 320px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.image {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.section {
    padding-top: 20px;
    padding-bottom: 20px;
}

.section > .row {
    padding-top: 20px;
}

.section-fill {
    background-color: var(--first-light-color);
}

.section-fill .container-title {
    color: var(--font-light-color);
    border-bottom: none;
}

.container-title {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 14px;
    color: var(--font-dark-color);
    border-bottom: 1px solid var(--font-shadow-color);
}

/* Классы */

.header-main {
    padding-top: 12px;
    padding-bottom: 12px;
}

.header-main .container-logo {
    height: 50px;
}

.header-main .container-logo .link-logo {
    display: block;
    height: 100%;
}

.header-navigation,
.footer {
    background-color: var(--first-light-color);
}

.header-navigation .navbar-toggler {
    border: none;
    color: var(--font-light-color);
    padding-left: 0;
    padding-right: 0;
}

.header-navigation .navbar-toggler:focus {
    box-shadow: none;
}

.header-navigation .navbar-nav .nav-item {
    padding: 0 50px;
}

.header-navigation .navbar-nav .nav-link {
    color: var(--font-light-color);
    padding: 0;
}

.banner .carousel-item .image {
    height: 500px;
    object-fit: cover;
}

.news-card.main-card {
    height: 340px;
}

.news-card.min-card {
    height: 160px;
}

.news-card.main-card .data {
    padding: 30px;
}

.news-card.min-card .data {
    padding: 14px;
    font-size: 14px;
}

.news-card {
    position: relative;
    overflow: hidden;
}

.news-card::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    background-color: var(--font-light-color);
    opacity: .75;
    transition: top .6s ease-in-out;
}

.news-card:hover::before {
    top: 0;
}

.news-card .link {
    text-decoration: none;
    height: 100%;
    display: block;
    color: var(--font-light-color);
}

.news-card .image {
    object-fit: cover;
}

.news-card .data {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
}

.news-card .data .date {
    color: var(--font-shadow-color);
}

.news-card .data .title {
    color: var(--font-dark-color);
}

.footer {
    padding: 8px 0;
}